@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: white;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: 900;
  font-size: 1.25rem;
  text-align: center;
}

/* --------------------------------------
*
* APP
*
* -------------------------------------*/
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .app {
    flex-direction: column;
  }
}

/* --------------------------------------
*
* SCREEN RECORDER
*
* -------------------------------------*/
.screen-recorder {
  transform: translateY(2rem);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.screen-recorder h1 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1;
}

.screen-recorder p {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

.screen-recorder p a {
  color: #00C65E;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.15s ease;
}

.screen-recorder p a:hover {
  color: #01af52;
}

.screen-recorder button {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  background: #00C65E;
  font-size: 2.25rem;
  font-weight: 900;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.18);
  transition: all 0.15s ease;
}

.screen-recorder button:hover {
  background: #01af52
}

.screen-recorder button::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  opacity: 0;
}

.screen-recorder button.recording::after {
  opacity: 1;
  animation: pulse 1s infinite forwards
}

.screen-recorder .actions {
  margin-top: 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 0.15s ease;
}

.screen-recorder .actions.recording {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.screen-recorder .actions p {
  margin: 0 0 1rem 0;
}

.screen-recorder .actions .button {
  background: grey;
}

@keyframes pulse {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* --------------------------------------
*
* SCREEN RECORDER OPTIONS
*
* -------------------------------------*/
.screen-recorder-options {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 15px;
  background: rgb(240, 240, 240)
}

/* --------------------------------------
*
* SCREEN RECORDER PREVIEW
*
* -------------------------------------*/
.screen-recorder-preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.screen-recorder-preview .video-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  max-width: 750px;
  padding: 1.5rem;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.screen-recorder-preview .video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.screen-recorder-preview .video video {
  width: 100%;
}

.screen-recorder-preview .video-actions .button {
  margin-right: 1rem;
}

/* --------------------------------------
*
* SCREEN RECORDER SCREEN PREVIEW
*
* -------------------------------------*/
.screen-recorder-screen-preview {
  display: flex;
  width: 100%;
  max-height: 0;
  height: auto;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(10%);
  transition: all 0.25s ease;
  transition-delay: 0.15s;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.screen-recorder-screen-preview.video-recording {
  max-height: 251px;
  margin-bottom: 2rem;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.screen-recorder-screen-preview video {
  width: 100%;
}

/* --------------------------------------
*
* RECORDING LIST
*
* -------------------------------------*/
.recording-list {
  width: 100%;
  max-width: 320px;
  height: 380px;
  margin-left: 5rem;
  padding: 1.5rem;
  border: 1px solid #B7B7B7;
  border-radius: 15px;
}

.recording-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.recording-list ul li {
  text-align: center;
}

.recording-list ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00C65E;
  transition: all 0.15s ease;
}

.recording-list ul li a:hover {
  color: #01af52;
}

.recording-list ul li a video {
  width: 80px;
  height: 50px;
  margin-right: 1rem;
}

.recording-list ul li a .description p {
  margin: 0;
  font-size: 0.8rem;
}

@media screen and (max-width: 767px) {
  .recording-list {
    margin: 3rem 0 0 0;
  }
}

/* --------------------------------------
*
* BUTTON
*
* -------------------------------------*/
.button {
  width: auto !important;
  height: auto !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  border: none;
  color: white;
  cursor: pointer;
  background: grey;
}

.button.button--primary {
  background: red;
}